<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

    <f:metadata>
        <f:viewParam name="id" value="#{contactHandler.dataSetIdString}" />
        <f:viewParam name="sourceNode" value="#{contactHandler.sourceNodeIdString}" />
        <f:viewParam name="uuid" value="#{contactHandler.dataSetUuidString}" />
        <f:viewParam name="version" value="#{contactHandler.dataSetVersionString}" />
        <f:event type="preRenderView" listener="#{contactHandler.postViewParamInit}" />
    </f:metadata>

    <h:body>
        <ui:composition template="#{conf.templatePath}/frontend.xhtml">
            <ui:param name="pageTitle"
                      value="#{i18n['common.contact']}#{i18n['delimiter']}#{i18n['public.dataset.datasetOverviewPage']}" />
            <ui:param name="pageSubTitle"
                      value="#{i18n['public.dataset']}: #{contactHandler.contact.name.defaultValue} (#{contactHandler.contact.version})" />
			<ui:param name="activeMenu" value="#{Constants.MENU_CONTACT}" />
            <ui:define name="content">
				<h:panelGroup rendered="#{contactHandler.otherVersionPresent}">
					<h:outputText value="#{i18n['public.dataset.otherVersions']}:" />
					<ui:repeat value="#{contactHandler.otherVersions}" var="ov">
						&nbsp;
						<h:link value="#{ov.version}" outcome="#{url.contact.getDetail(ov)}" />
					</ui:repeat>
				</h:panelGroup>                        
                <div id="datasetPage">
                    <div class="floatRight">
                        <h:panelGrid columns="2"
                                     columnClasses="datasetBlock ui-widget-content,datasetBlock ui-widget-content">
                          <h:panelGroup>
                            <h:outputLink
                                value="#{conf.contextPath}#{url.contact.getResourceDetailHtmlWithStock(contactHandler.contact)}"
                                target="_blank">#{i18n['public.dataset.viewDataset']}</h:outputLink>
                            &nbsp;
                            <h:outputLink
                                value="#{conf.contextPath}#{url.contact.getResourceDetailHtmlAltWithStock(contactHandler.contact)}"
                                target="_blank" rendered="#{conf.displayConfig.showAlternativeHtmlLink}">#{i18n['public.dataset.viewDataset']} (#{i18n['common.alternativeView']})</h:outputLink>
                          </h:panelGroup>
                            <h:outputLink
                                value="#{conf.contextPath}#{url.contact.getResourceDetailXml(contactHandler.contact)}">#{i18n['public.dataset.downloadDatasetXML']}</h:outputLink>
                        </h:panelGrid></div>
                    <div class="clearRight">
                        <h:panelGrid columns="3"
                                     columnClasses="datasetBlock ui-widget-content,datasetBlock ui-widget-content,datasetBlock ui-widget-content">
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['common.name']}</div>
                                <h:outputText value="#{contactHandler.contact.name.defaultValue}"
                                              styleClass="boldText" />
                            </h:panelGroup>
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['public.dataset.shortName']}</div>
                                <h:outputText
                                    value="#{contactHandler.contact.shortName.defaultValue}"
                                    styleClass="boldText" />
                            </h:panelGroup>
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['public.contact.contactPoint']}</div>
                                <h:outputText value="#{contactHandler.contact.centralContactPoint}"
                                              styleClass="boldText" />
                            </h:panelGroup>
                        </h:panelGrid><h:panelGrid columns="3"
                                                   columnClasses="datasetBlock ui-widget-content,datasetBlock ui-widget-content,datasetBlock ui-widget-content">
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['public.dataset.cat']}</div>
                                <h:outputText
                                    value="#{contactHandler.contact.classification.classHierarchyAsString}" />
                            </h:panelGroup>
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['public.contact.hp']}</div>
                                <h:outputText value="#{contactHandler.contact.www}" />
                            </h:panelGroup>
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['common.email']}</div>
                                <h:outputText value="#{contactHandler.contact.email}" />
                            </h:panelGroup>
                        </h:panelGrid> <h:panelGrid columns="3"
                                                    columnClasses="datasetBlock ui-widget-content,datasetBlock ui-widget-content,datasetBlock ui-widget-content">
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['public.contact.address']}</div>
                                <h:outputText value="#{contactHandler.contact.contactAddress}" />
                            </h:panelGroup>
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['common.phone']}</div>
                                <h:outputText value="#{contactHandler.contact.phone}" />
                            </h:panelGroup>
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['public.contact.fax']}</div>
                                <h:outputText value="#{contactHandler.contact.fax}" />
                            </h:panelGroup>
                        </h:panelGrid>
                    </div>
                </div>

                <ui:include src="/messages.xhtml" />

            </ui:define>
        </ui:composition>
    </h:body>
</html>

