<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions">

    <f:metadata>
        <f:viewParam name="id" value="#{unitgroupHandler.dataSetIdString}" />
        <f:viewParam name="sourceNode" value="#{unitgroupHandler.sourceNodeIdString}" />
        <f:viewParam name="uuid" value="#{unitgroupHandler.dataSetUuidString}" />
        <f:viewParam name="version" value="#{unitgroupHandler.dataSetVersionString}" />
        <f:event type="preRenderView" listener="#{unitgroupHandler.postViewParamInit}" />
    </f:metadata>

    <h:body>
        <ui:composition template="#{conf.templatePath}/frontend.xhtml">
            <ui:param name="pageTitle"
                      value="#{i18n['common.unitGroup.inflected']}#{i18n['delimiter']}#{i18n['public.dataset.datasetOverviewPage']}" />
            <ui:param name="pageSubTitle"
                      value="#{i18n['public.dataset']}: #{unitgroupHandler.unitgroup.name.defaultValue} (#{unitgroupHandler.unitgroup.version})" />
            <ui:param name="activeMenu" value="#{Constants.MENU_UNITGROUP}" />
            <ui:define name="content">
				<h:panelGroup rendered="#{unitgroupHandler.otherVersionPresent}">
					<h:outputText value="#{i18n['public.dataset.otherVersions']}:" />
					<ui:repeat value="#{unitgroupHandler.otherVersions}" var="ov">
						&nbsp;
						<h:link value="#{ov.version}" outcome="#{url.unitGroup.getDetail(ov)}" />
					</ui:repeat>
				</h:panelGroup>
            
                <div id="datasetPage">
                    <div class="floatRight"><h:panelGrid columns="2"
                                                         columnClasses="datasetBlock ui-widget-content,datasetBlock ui-widget-content">
                          <h:panelGroup>
                            <h:outputLink
                                value="#{conf.contextPath}#{url.unitGroup.getResourceDetailHtmlWithStock(unitgroupHandler.unitgroup)}"
                                target="_blank">#{i18n['public.dataset.viewDataset']}</h:outputLink>
                            &nbsp;
                            <h:outputLink
                                value="#{conf.contextPath}#{url.unitGroup.getResourceDetailHtmlAltWithStock(unitgroupHandler.unitgroup)}"
                                target="_blank" rendered="#{conf.displayConfig.showAlternativeHtmlLink}">#{i18n['public.dataset.viewDataset']} (#{i18n['common.alternativeView']})</h:outputLink>
                          </h:panelGroup>
                          <h:outputLink value="#{conf.contextPath}#{url.unitGroup.getResourceDetailXml(unitgroupHandler.unitgroup)}">#{i18n['public.dataset.downloadDatasetXML']}</h:outputLink>
                        </h:panelGrid></div>
                    <div class="clearRight">
                        <h:panelGrid columns="2"
                                     columnClasses="datasetBlock ui-widget-content,datasetBlock ui-widget-content">
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['common.name']}</div>
                                <h:outputText
                                    value="#{unitgroupHandler.unitgroup.name.defaultValue}"
                                    styleClass="boldText" />
                            </h:panelGroup>
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['common.dataset.defaultUnit']}</div>
                                <h:outputText
                                    value="#{unitgroupHandler.unitgroup.referenceUnit.name}"
                                    styleClass="boldText" />
                            </h:panelGroup>
                        </h:panelGrid>
                        <h:panelGrid columns="2" columnClasses="datasetBlock ui-widget-content,datasetBlock ui-widget-content">
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['common.dataset.classif']}</div>
                                <h:outputText
                                    value="#{unitgroupHandler.unitgroup.classification.classHierarchyAsString}" />
                            </h:panelGroup>
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['public.unitGroup.otherUnits']}</div>
                                <p:dataList value="#{unitgroupHandler.unitgroup.unitsAsList}" var="unit" styleClass="ourDataList">
                                    <h:outputText value="#{unit.name}" />
                                </p:dataList>
                            </h:panelGroup>
                        </h:panelGrid>
                        <h:panelGrid columns="1" columnClasses="datasetBlock ui-widget-content">
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['public.dataset.comment']}</div>
                                <h:outputText
                                    value="#{unitgroupHandler.unitgroup.description.defaultValue}" />
                            </h:panelGroup>
                        </h:panelGrid>
                    </div>
                </div>

                <ui:include src="/messages.xhtml" />

            </ui:define>
        </ui:composition>
    </h:body>
</html>

