<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions">


    <f:metadata>
        <f:viewParam name="id" value="#{lciamethodHandler.dataSetIdString}" />
        <f:viewParam name="sourceNode" value="#{lciamethodHandler.sourceNodeIdString}" />
        <f:viewParam name="uuid" value="#{lciamethodHandler.dataSetUuidString}" />
        <f:viewParam name="version" value="#{lciamethodHandler.dataSetVersionString}" />
        <f:event type="preRenderView" listener="#{lciamethodHandler.postViewParamInit}" />
    </f:metadata>

    <h:body>
        <ui:composition template="#{conf.templatePath}/frontend.xhtml">
            <ui:param name="pageTitle"
                      value="#{i18n['common.lciaMethod.inflected']}#{i18n['delimiter']}#{i18n['public.dataset.datasetOverviewPage']}" />
            <ui:param name="pageSubTitle"
                      value="#{i18n['public.dataset']}: #{lciamethodHandler.lciamethod.name.defaultValue} (#{lciamethodHandler.lciamethod.version})" />
            <ui:param name="activeMenu" value="#{Constants.MENU_LCIAMETHOD}" />
            <ui:define name="content">
				<h:panelGroup rendered="#{lciamethodHandler.otherVersionPresent}">
					<h:outputText value="#{i18n['public.dataset.otherVersions']}:" />
					<ui:repeat value="#{lciamethodHandler.otherVersions}" var="ov">
						&nbsp;
						<h:link value="#{ov.version}" outcome="#{url.lciaMethod.getDetail(ov)}" />
					</ui:repeat>
				</h:panelGroup>            
                <div id="datasetPage">
                    <div class="floatRight">
                        <h:panelGrid columns="2" columnClasses="datasetBlock ui-widget-content,datasetBlock ui-widget-content">
                            <h:outputLink value="#{conf.contextPath}#{url.lciaMethod.getResourceDetailHtmlWithStock(lciamethodHandler.lciamethod)}" target="_blank">#{i18n['public.dataset.viewDataset']}</h:outputLink>
                            <h:outputLink value="#{conf.contextPath}#{url.lciaMethod.getResourceDetailXml(lciamethodHandler.lciamethod)}">#{i18n['public.dataset.downloadDatasetXML']}</h:outputLink>
                        </h:panelGrid>
                    </div>
                    <div class="clearRight">
                        <h:panelGrid columns="2" columnClasses="datasetBlock ui-widget-content,datasetBlock ui-widget-content">
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['common.name']}</div>
                                <h:outputText
                                    value="#{lciamethodHandler.lciamethod.name.defaultValue}" styleClass="boldText" />
                            </h:panelGroup>
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['common.type']}</div>
                                <h:outputText
                                    value="#{lciamethodHandler.lciamethod.type.value}" styleClass="boldText" />
                            </h:panelGroup>
                        </h:panelGrid>
                        <h:panelGrid columns="2" columnClasses="datasetBlock ui-widget-content,datasetBlock ui-widget-content">
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['common.dataset.refYear']}</div>
                                <h:outputText
                                    value="#{lciamethodHandler.lciamethod.timeInformation.referenceYear.value}" />
                            </h:panelGroup>
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['public.lciam.durationOfImpact']}</div>
                                <h:outputText
                                    value="#{lciamethodHandler.lciamethod.timeInformation.duration.value}" />
                            </h:panelGroup>
                        </h:panelGrid>
                        <h:panelGrid columns="3" columnClasses="datasetBlock ui-widget-content,datasetBlock ui-widget-content,datasetBlock ui-widget-content">
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['public.lciam.impactCategory']}</div>
                                <p:dataList value="#{lciamethodHandler.lciamethod.impactCategory}" var="impCat" styleClass="ourDataList">
                                    <h:outputText value="#{impCat.value}" />
                                </p:dataList>
                            </h:panelGroup>
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['public.lciam.areaOfProtection']}</div>
                                <p:dataList value="#{lciamethodHandler.lciamethod.areaOfProtection}" var="areaOfProt" styleClass="ourDataList">
                                    <h:outputText value="#{areaOfProt.value}" />
                                </p:dataList>
                            </h:panelGroup>
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['public.lciam.impactInd']}</div>
                                <h:outputText value="#{lciamethodHandler.lciamethod.impactIndicator}" />
                            </h:panelGroup>
                        </h:panelGrid>
                        <h:panelGrid columns="2" columnClasses="datasetBlock ui-widget-content,datasetBlock ui-widget-content">
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['common.dataset.classif']}</div>
                                <h:outputText
                                    value="#{lciamethodHandler.lciamethod.classification.classHierarchyAsString}" />
                            </h:panelGroup>
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['public.lciam.methodology']}</div>
                                <p:dataList value="#{lciamethodHandler.lciamethod.methodology}" var="method" styleClass="ourDataList">
                                    <h:outputText value="#{method}" />
                                </p:dataList>
                            </h:panelGroup>
                        </h:panelGrid>
                        <h:panelGrid columns="2" columnClasses="datasetBlock ui-widget-content,datasetBlock ui-widget-content">
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['public.dataset.comment']}</div>
                                <h:outputText
                                    value="#{lciamethodHandler.lciamethod.description.defaultValue}" />
                            </h:panelGroup>
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['public.lciam.permanentUri']}</div>
                                <h:outputText
                                    value="#{lciamethodHandler.lciamethod.permanentUri}" />
                            </h:panelGroup>
                        </h:panelGrid>
                    </div>
                </div>

                <ui:include src="/messages.xhtml" />

            </ui:define>
        </ui:composition>
    </h:body>
</html>

