<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

    <f:metadata>
        <f:viewParam name="id" value="#{flowpropertyHandler.dataSetIdString}" />
        <f:viewParam name="sourceNode" value="#{flowpropertyHandler.sourceNodeIdString}" />
        <f:viewParam name="uuid" value="#{flowpropertyHandler.dataSetUuidString}" />
        <f:viewParam name="version" value="#{flowpropertyHandler.dataSetVersionString}" />
        <f:event type="preRenderView" listener="#{flowpropertyHandler.postViewParamInit}" />
    </f:metadata>

    <h:body>
        <ui:composition template="#{conf.templatePath}/frontend.xhtml">
            <ui:param name="pageTitle"
                      value="#{i18n['common.flowProperty.inflected']}#{i18n['delimiter']}#{i18n['public.dataset.datasetOverviewPage']}" />
            <ui:param name="pageSubTitle"
                      value="#{i18n['public.dataset']}: #{flowpropertyHandler.flowproperty.name.defaultValue} (#{flowpropertyHandler.flowproperty.version})" />
            <ui:param name="activeMenu" value="#{Constants.MENU_FLOWPROPERTY}" />
            <ui:define name="content">
				<h:panelGroup rendered="#{flowpropertyHandler.otherVersionPresent}">
					<h:outputText value="#{i18n['public.dataset.otherVersions']}:" />
					<ui:repeat value="#{flowpropertyHandler.otherVersions}" var="ov">
						&nbsp;
						<h:link value="#{ov.version}" outcome="#{url.flowProperty.getDetail(ov)}" />
					</ui:repeat>
				</h:panelGroup>            
                <div id="datasetPage">
                    <div class="floatRight"><h:panelGrid columns="2"
                                                         columnClasses="datasetBlock ui-widget-content,datasetBlock ui-widget-content">
                          <h:panelGroup>
                            <h:outputLink
                                value="#{conf.contextPath}#{url.flowProperty.getResourceDetailHtmlWithStock(flowpropertyHandler.flowproperty)}"
                                target="_blank">#{i18n['public.dataset.viewDataset']}</h:outputLink>
                            &nbsp;
                            <h:outputLink
                                value="#{conf.contextPath}#{url.flowProperty.getResourceDetailHtmlAltWithStock(flowpropertyHandler.flowproperty)}"
                                target="_blank" rendered="#{conf.displayConfig.showAlternativeHtmlLink}">#{i18n['public.dataset.viewDataset']} (#{i18n['common.alternativeView']})</h:outputLink>
                          </h:panelGroup>
                          <h:outputLink value="#{conf.contextPath}#{url.flowProperty.getResourceDetailXml(flowpropertyHandler.flowproperty)}">#{i18n['public.dataset.downloadDatasetXML']}</h:outputLink>
                        </h:panelGrid></div>
                    <div class="clearRight"><h:panelGrid columns="3"
                                                         columnClasses="datasetBlock ui-widget-content,datasetBlock ui-widget-content,datasetBlock ui-widget-content">
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['common.name']}</div>
                                <h:outputText
                                    value="#{flowpropertyHandler.flowproperty.name.defaultValue}"
                                    styleClass="boldText" />
                            </h:panelGroup>
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['common.unitGroup']}</div>
                                <h:outputText
                                    value="#{flowpropertyHandler.flowproperty.unitGroupName.defaultValue}"
                                    styleClass="boldText" />
                            </h:panelGroup>
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['common.dataset.defaultUnit']}</div>
                                <h:outputText
                                    value="#{flowpropertyHandler.flowproperty.defaultUnit}"
                                    styleClass="boldText" />
                            </h:panelGroup>
                        </h:panelGrid> <h:panelGrid columns="2" columnClasses="datasetBlock ui-widget-content,datasetBlock ui-widget-content">
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['common.dataset.classif']}</div>
                                <h:outputText
                                    value="#{flowpropertyHandler.flowproperty.classification.classHierarchyAsString}" />
                            </h:panelGroup>
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['public.dataset.synonyms']}</div>
                                <h:outputText
                                    value="#{flowpropertyHandler.flowproperty.synonyms.defaultValue}" />
                            </h:panelGroup>
                        </h:panelGrid> <h:panelGrid columns="1" columnClasses="datasetBlock ui-widget-content">
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['public.dataset.comment']}</div>
                                <h:outputText
                                    value="#{flowpropertyHandler.flowproperty.description.defaultValue}" />
                            </h:panelGroup>
                        </h:panelGrid>
                    </div>
                </div>

                <ui:include src="/messages.xhtml" />

            </ui:define>
        </ui:composition>
    </h:body>
</html>

