<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:soda="http://java.sun.com/jsf/composite/sodacomp">

<f:metadata>
	<f:viewParam name="id" value="#{lifeCycleModelHandler.dataSetIdString}"></f:viewParam>
	<f:viewParam name="sourceNode"
		value="#{lifeCycleModelHandler.sourceNodeIdString}"></f:viewParam>
	<f:viewParam name="uuid"
		value="#{lifeCycleModelHandler.dataSetUuidString}"></f:viewParam>
	<f:viewParam name="version"
		value="#{lifeCycleModelHandler.dataSetVersionString}"></f:viewParam>
	<f:event type="preRenderView"
		listener="#{lifeCycleModelHandler.postViewParamInit()}"></f:event>
</f:metadata>

<h:body>
	<h1>HELLO</h1>
	<ui:composition template="#{conf.templatePath}/frontend.xhtml">
		<ui:param name="lang" value="#{localeBean.locale.language}" />
		<ui:param name="pageTitle"
			value="#{i18n['common.lifecyclemodels']}#{i18n['delimiter']}#{i18n['public.dataset.datasetOverviewPage']}" />
		<ui:param name="pageSubTitle"
			value="#{i18n['public.dataset']}: #{lifeCycleModelHandler.getBaseName(lang)} (#{lifeCycleModelHandler.lcm.version})" />
		<ui:param name="activeMenu" value="#{Constants.MENU_LIFECYCLEMODEL}" />

		<ui:define name="content">

			<ui:include
				src="./datasetdetail/include/otherVersionsAvailableStaticMessage.xhtml">
				<ui:param name="handler" value="#{lifeCycleModelHandler}" />
				<ui:param name="detailsView" value="false" />
				<ui:param name="urlgen" value="#{url.lifecyclemodel}" />
			</ui:include>

			<h:form id="datasetDetails">
				<div id="datasetPage">
					<div class="floatRight">
						<h:panelGrid columns="2"
							columnClasses="datasetBlock ui-widget-content, datasetBlock ui-widget-content,datasetBlock ui-widget-content">
							<h:panelGroup
								rendered="#{applicationInfoBean.registryBasedNetworking and lifeCycleModelHandler.registryUUID!=null}">
								<h:outputText
									value="#{i18n[lifeCycleModelHandler.datasetValidationResult]}"
									styleClass="#{lifeCycleModelHandler.datasetValidationResult=='VALID' ? '' : 'redText'}"></h:outputText>
							</h:panelGroup>
							<h:panelGroup>
								<h:outputLink rendered="#{lifeCycleModelHandler.foreignDataSet}"
									value="#{lifeCycleModelHandler.foreignHTMLResourceURL}"
									target="_blank">
									<h:outputText
										value="#{i18n['public.proc.viewForeignDataset']} #{i18n['public.proc.restrictedToMetadata']}"></h:outputText>
									<h:outputText value="#{i18n['public.proc.viewForeignDataset']}"></h:outputText>
								</h:outputLink>
								<h:panelGroup
									rendered="#{not lifeCycleModelHandler.foreignDataSet}">
									<h:outputLink
										value="#{conf.contextPath}#{url.lifecyclemodel.getDataSetDetailHTML(lifeCycleModelHandler.lcm)}"
										target="_blank">
										<h:outputText
											rendered="#{user.hasDatasetDetailRights(lifeCycleModelHandler.lcm)}"
											value="#{i18n['public.proc.viewDatasetDetail']}" />
										<h:outputText
											rendered="#{not user.hasDatasetDetailRights(lifeCycleModelHandler.lcm)}"
											value="#{i18n['public.proc.viewMetadataDataset']}" />
									</h:outputLink>
									<h:outputLink
										value="#{conf.contextPath}#{url.lifecyclemodel.getResourceDetailHtmlAltWithStock(lifeCycleModelHandler.lcm)}"
										target="_blank"
										rendered="#{conf.displayConfig.showAlternativeHtmlLink}">
										<h:outputText
											rendered="#{user.hasDatasetDetailRights(lifeCycleModelHandler.lcm)}"
											value="#{i18n['public.proc.viewDatasetDetail']} (#{i18n['common.alternativeView']})" />
										<h:outputText
											rendered="#{not user.hasDatasetDetailRights(lifeCycleModelHandler.lcm)}"
											value="#{i18n['public.proc.viewMetadataDataset']} (#{i18n['common.alternativeView']})" />
									</h:outputLink>
								</h:panelGroup>
							</h:panelGroup>
							<h:panelGroup>
								<h:outputText
									rendered="#{not lifeCycleModelHandler.foreignDataSet}">
									<h:outputLink
										value="#{conf.contextPath}#{url.lifecyclemodel.getResourceDetailXml(lifeCycleModelHandler.lcm)}"
										rendered="#{user.hasDatasetDetailRights(lifeCycleModelHandler.lcm)}">#{i18n['public.dataset.downloadDatasetXML']}</h:outputLink>
									<h:outputText
										rendered="#{not user.hasDatasetDetailRights(lifeCycleModelHandler.lcm)}"
										value="#{i18n['public.proc.downloadDatasetRestricted']}"
										styleClass="redText"></h:outputText>
								</h:outputText>
							</h:panelGroup>
							<h:panelGroup>
								<h:outputText
									rendered="#{not lifeCycleModelHandler.foreignDataSet}">
									<h:outputLink
										value="#{conf.contextPath}#{url.lifecyclemodel.getLCMDependenciesZIP(lifeCycleModelHandler.lcm)}"
										rendered="#{user.hasDatasetDetailRights(lifeCycleModelHandler.lcm)}">#{i18n['public.dataset.downloadDatasetDependencies']}</h:outputLink>
									<h:outputText
										rendered="#{not user.hasDatasetDetailRights(lifeCycleModelHandler.lcm)}"
										value="#{i18n['public.proc.downloadDatasetRestricted']}"
										styleClass="redText"></h:outputText>
								</h:outputText>
							</h:panelGroup>
							<h:panelGroup>
								<h:outputText
									rendered="#{not lifeCycleModelHandler.foreignDataSet}">
									<h:outputLink
										value="#{conf.contextPath}/resource/lifecyclemodels/#{lifeCycleModelHandler.lcm.uuid.uuid}/viz"
										rendered="#{user.hasDatasetDetailRights(lifeCycleModelHandler.lcm)}">EXPERIMENTAL: Visualization</h:outputLink>
									<h:outputText
										rendered="#{not user.hasDatasetDetailRights(lifeCycleModelHandler.lcm)}"
										value="#{i18n['public.proc.downloadDatasetRestricted']}"
										styleClass="redText"></h:outputText>
								</h:outputText>
							</h:panelGroup>
						</h:panelGrid>
					</div>
					<div class="clearRight">
						<h:panelGrid columns="4"
							columnClasses="datasetBlock ui-widget-content,datasetBlock ui-widget-content,datasetBlock ui-widget-content,datasetBlock ui-widget-content">
							<h:panelGroup>
								<div class="datasetLabel">#{i18n['public.proc.fullName']}</div>
								<h:outputText
									value="#{lifeCycleModelHandler.lcm.name.getValueWithFallback(lang)}"
									styleClass="boldText"></h:outputText>
							</h:panelGroup>
						</h:panelGrid>
						<h:panelGrid columns="4"
							columnClasses="datasetBlock ui-widget-content,datasetBlock ui-widget-content,datasetBlock ui-widget-content,datasetBlock ui-widget-content">
							<h:panelGroup>
								<div class="datasetLabel">Processes</div>
								<soda:dataListStyled
									dataListValue="#{lifeCycleModelHandler.uniqSortedProcesses()}">
									<ui:param name="processInstance" value="#{dataListStyledVar}" />
									<soda:switchLinkOrText outputLinkValue="#{lifeCycleModelHandler.getReferenceUrlXml2(processInstance.referenceToProcess, url.process)}"
										outputLinkTitle="#{i18n['common.lifecyclemodels']}#{i18n['delimiter']}#{i18n['public.dataset']}"
										outputTextValue="#{processInstance.referenceToProcess.shortDescription.getValueWithFallback(lang)}" />
								</soda:dataListStyled>
							</h:panelGroup>
						</h:panelGrid>
						<h:panelGrid columns="2"
							columnClasses="datasetBlock ui-widget-content,datasetBlock ui-widget-content">
							<h:panelGroup>
								<div class="datasetLabel">#{i18n['public.dataset.cat']}</div>
								<h:outputText
									value="#{lifeCycleModelHandler.lcm.classification.classHierarchyAsString}"></h:outputText>
							</h:panelGroup>
						</h:panelGrid>
						<h:panelGrid columns="2"
						rendered="#{lifeCycleModelHandler.getUseAdvice(lang)}"
							columnClasses="datasetBlock ui-widget-content highlighted,datasetBlock ui-widget-content">
							<h:panelGroup>
								<div class="datasetLabel">#{i18n['public.dataset.useAdvice']}</div>
								<h:outputText
									value="#{lifeCycleModelHandler.getUseAdvice(lang)}">
								</h:outputText>
							</h:panelGroup>
						</h:panelGrid>
						<h:panelGrid columns="1"
						rendered="#{lifeCycleModelHandler.getGeneralComment(lang)}"
							columnClasses="datasetBlock ui-widget-content">
							<h:panelGroup>
								<div class="datasetLabel">#{i18n['public.dataset.comment']}</div>
								<h:outputText
									value="#{lifeCycleModelHandler.getGeneralComment(lang)}"></h:outputText>
							</h:panelGroup>
						</h:panelGrid>

						<h:panelGrid columns="1"
							columnClasses="datasetBlock ui-widget-content">
							<h:panelGroup>
								<div class="datasetLabel">#{i18n['public.proc.reviews']}</div>
								<p:dataList value="#{lifeCycleModelHandler.lcm.reviews}"
									var="review" styleClass="ourDataListNoBullet">
									<h:outputText value="#{review.type.value} by"></h:outputText>
									<p:dataList value="#{review.referencesToReviewers}"
										var="reviewer" styleClass="ourDataList">
										<h:outputLink rendered="#{not empty reviewer.refObjectId}"
											value="resource/contacts/#{reviewer.refObjectId}"
											target="_blank">
											<h:outputText value="#{reviewer.shortDescription.value}"></h:outputText>
										</h:outputLink>
										<h:outputLink rendered="#{empty reviewer.refObjectId}"
											value="#{reviewer.uri}" target="_blank">
											<h:outputText
												value="#{reviewer.shortDescription.getValueWithFallback(lang)}"></h:outputText>
										</h:outputLink>
									</p:dataList>
									<h:panelGroup
										rendered="#{not empty review.dataQualityIndicators}">
										<div class="datasetLabel">#{i18n['public.proc.indicators']}</div>
										<p:dataList value="#{review.dataQualityIndicatorsAsList}"
											var="indicator" styleClass="ourDataList">
											<h:outputText
												value="#{indicator.name.value}: #{indicator.value.value}"></h:outputText>
											<h:outputText rendered="#{not empty indicator.numericValue}"
												value=" - #{indicator.numericValue}" />
										</p:dataList>
									</h:panelGroup>
								</p:dataList>
							</h:panelGroup>
						</h:panelGrid>


						<h:panelGrid columns="1"
							columnClasses="datasetBlock ui-widget-content">
							<h:panelGroup>
								<div class="datasetLabel">#{i18n['public.proc.conditions']}</div>
								<div class="datasetLabel">#{i18n['public.proc.copyright']}</div>
								<h:outputText
									rendered="#{lifeCycleModelHandler.lcm.administrativeInformation.publicationAndOwnership.copyright}"
									value="#{i18n['public.proc.yes']}"></h:outputText>
								<h:outputText
									rendered="#{not lifeCycleModelHandler.lcm.administrativeInformation.publicationAndOwnership.copyright}"
									value="#{i18n['public.proc.no']}"></h:outputText>
								<h:panelGroup
									rendered="#{not empty lifeCycleModelHandler.lcm.administrativeInformation.publicationAndOwnership.licenseType}">
									<div class="datasetLabel">#{i18n['public.proc.licenseType']}</div>
									<h:outputText
										value="#{lifeCycleModelHandler.lcm.administrativeInformation.publicationAndOwnership.licenseType.value}">
									</h:outputText>
								</h:panelGroup>
								<h:panelGroup
									rendered="#{not empty lifeCycleModelHandler.lcm.administrativeInformation.publicationAndOwnership.useRestrictions}">
									<div class="datasetLabel">#{i18n['public.proc.accessInfo']}</div>
									<h:outputText
										value="#{lifeCycleModelHandler.getAccessInfo(lang)}">
									</h:outputText>
								</h:panelGroup>
							</h:panelGroup>
						</h:panelGrid>
						<h:panelGrid columns="2"
							columnClasses="datasetBlock ui-widget-content,datasetBlock ui-widget-content">
							<h:panelGroup>
								<div class="datasetLabel">#{i18n['public.proc.owner']}</div>
								<h:outputText
									value="#{lifeCycleModelHandler.lcm.administrativeInformation.publicationAndOwnership.referenceToOwnershipOfDataSet.shortDescription.getValueWithFallback(lang)}"></h:outputText>
							</h:panelGroup>
						</h:panelGrid>


						<!-- 						<h:panelGrid columns="2"
							columnClasses="datasetBlock ui-widget-content,datasetBlock ui-widget-content,datasetBlock ui-widget-content">
							<h:panelGroup>
								<div class="datasetLabel">#{i18n['public.proc.exchange.inputProducts']}</div>
								<p:dataList value="#{lifeCycleModelHandler.inputProducts}"
									var="ex" styleClass="ourDataList">
									<h:link value="#{ex.name.defaultValue}"
										outcome="#{url.pflow.getDetail(ex)}" />
								</p:dataList>
							</h:panelGroup>
							<h:panelGroup>
								<div class="datasetLabel">#{i18n['public.proc.exchange.coProducts']}</div>
								<p:dataList value="#{lifeCycleModelHandler.coProducts}" var="ex"
									styleClass="ourDataList">
									<h:link value="#{ex.name.defaultValue}"
										outcome="#{url.pflow.getDetail(ex)}" />
								</p:dataList>
							</h:panelGroup>
						</h:panelGrid> -->


						<h:panelGrid
							columns="#{lifeCycleModelHandler.otherVersionPresent ? 5 : 4}"
							columnClasses="datasetBlock ui-widget-content,datasetBlock ui-widget-content,datasetBlock ui-widget-content,datasetBlock ui-widget-content">
							<h:panelGroup>
								<div class="datasetLabel">#{i18n['public.proc.datasetVersion']}</div>
								<h:outputText
									value="#{lifeCycleModelHandler.lcm.dataSetVersion}"></h:outputText>
							</h:panelGroup>
							<h:panelGroup>
								<div class="datasetLabel">#{i18n['common.timeStamp']}</div>
								<h:outputText value="#{lifeCycleModelHandler.timeStamp}"></h:outputText>
							</h:panelGroup>
							<h:panelGroup>
								<div class="datasetLabel">#{i18n['public.proc.datasetFormat']}</div>
								<h:outputText value="#{lifeCycleModelHandler.getFormat(lang)}"></h:outputText>
							</h:panelGroup>
							<h:panelGroup
								rendered="#{lifeCycleModelHandler.otherVersionPresent}">
								<div class="datasetLabel">#{i18n['public.dataset.otherVersions']}</div>
								<p:dataList value="#{lifeCycleModelHandler.otherVersions}"
									var="ov" styleClass="ourDataList">
									<h:link value="#{ov.version}"
										outcome="#{url.lifecyclemodel.getDetail(ov)}" />
								</p:dataList>
							</h:panelGroup>
							<h:panelGroup>
								<div class="datasetLabel">#{i18n['public.proc.complianceSystems']}</div>
								<p:dataList
									value="#{lifeCycleModelHandler.lcm.complianceSystems}"
									var="compliance" styleClass="ourDataList">
									<h:outputText
										value="#{compliance.name} (#{i18n['public.proc.overallCompliance']}: #{compliance.overallCompliance.value})"></h:outputText>
								</p:dataList>
							</h:panelGroup>
						</h:panelGrid>
						<!-- 						<p:panel id="tagPanel" header="#{i18n['public.proc.tag']}">
							<ui:include src="./datasetdetail/include/listTags.xhtml" />
						</p:panel> -->
						<p:panel id="registriesPanel"
							header="#{i18n['admin.registerDataSets.registeredIn']}"
							rendered="#{applicationInfoBean.showRegistrationControls}">
							<p:dataTable id="registriesTable" var="regData"
								value="#{lifeCycleModelHandler.registrations}" paginator="true"
								rows="15" lazy="false" rowsPerPageTemplate="5,10,15,50"
								paginatorTemplate="{CurrentPageReport} {FirstPageLink}
					                     {PreviousPageLink} {PageLinks} {NextPageLink}
					                     {LastPageLink} {RowsPerPageDropdown} #{i18n['common.list.entriesPerPage']}"
								rendered="#{not empty lifeCycleModelHandler.registrations}">
								<p:column headerText="#{i18n['admin.registry.name']}">
									<h:link value="#{regData.registry.name}"
										outcome="admin/registryDetails?id=#{regData.registry.id}"
										rendered="#{not regData.glad}" />
									<h:outputText value="GLAD" rendered="#{regData.glad}" />
								</p:column>
								<p:column headerText="#{i18n['admin.registry.baseUrl']}">
									<h:outputText
										value="#{regData.glad ? conf.gladUrl : regData.registry.baseUrl}"></h:outputText>
								</p:column>
								<p:column headerText="#{i18n['admin.registerDataSets.status']}">
									<h:outputText value="#{i18n[regData.status]}"
										rendered="#{not regData.glad}"></h:outputText>
								</p:column>
								<p:column headerText="#{i18n['admin.registerDataSets.action']}"
									rendered="#{user.hasAdminAreaAccessRight()}">
									<p:commandLink
										action="#{lifeCycleModelHandler.setSelectedDataSetRegistrationData(regData)}"
										oncomplete="PF('deregistration').show();"
										rendered="#{(not regData.glad) and regData.status=='ACCEPTED'}">
										<h:outputText
											value="#{i18n['admin.registerDataSets.deregisterProcess']}"></h:outputText>
									</p:commandLink>
								</p:column>
							</p:dataTable>
							<h:outputText
								rendered="#{empty lifeCycleModelHandler.registrations}"
								value="#{i18n['admin.registerDataSets.process_not_registered']}"></h:outputText>
						</p:panel>
					</div>
				</div>

				<!-- 				<p:dialog
					header="#{i18n['admin.deregisterDataSet.deregistrationHeader']}"
					widgetVar="deregistration" resizable="false" severity="alert"
					modal="true" width="340"
					onHide="document.getElementById('datasetDetails:deregistrationreason').value=''">
					<h:panelGrid columns="1">
						<h:outputText for="deregistrationreason"
							value="#{i18n['admin.deregisterDataSet.areYouSureDeregister']}"></h:outputText>
						<h:outputText for="deregistrationreason"
							value="#{i18n['admin.deregisterDataSets.enterDeregistrationReason']}"></h:outputText>
						<p:inputTextarea id="deregistrationreason"
							value="#{lifeCycleModelHandler.reason}"
							style="width:300px;height:100px;"></p:inputTextarea>
					</h:panelGrid>
					<p:commandButton value="#{i18n['common.button.yes']}"
						oncomplete="PF('deregistration').hide()"
						actionListener="#{lifeCycleModelHandler.deregisterSelected}"
						update="datasetDetails"></p:commandButton>
					<p:commandButton value="#{i18n['common.button.no']}"
						onclick="PF('deregistration').hide()" type="button"></p:commandButton>
				</p:dialog> -->

			</h:form>
			<ui:include src="/messages.xhtml" />

		</ui:define>
	</ui:composition>
</h:body>
</html>
