<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
      
    <f:metadata>
        <f:event type="preRenderView" listener="#{orgHandler.postViewParamInit}" />
    </f:metadata>

    <h:body>
        <ui:composition template="/admin/layout/adminDesign.xhtml">
            <ui:param name="pageTitle" value="#{i18n['admin.org.createNew']}" />
            <ui:define name="content">
                <p>#{i18n['common.mandatoryFields']}</p>
                <h:form id="generalForm" prependId="false">

                    <ui:include src="/messages.xhtml" />
                    
                    <p:focus context="generalForm" />
                    <ui:include src="orgEntry.xhtml">
                        <ui:param name="org" value="#{orgHandler.entry}" />
                        <ui:param name="chosenCountry" value="#{orgHandler.chosenCountry}" />
                        <ui:param name="countries" value="#{orgHandler.availableCountries}" />
                        <ui:param name="sectors" value="#{orgHandler.availableIndustrialSectors}" />
                        <ui:param name="userAssignmentDualList" value="#{orgHandler.dualUserAssignmentList}" />
                        <ui:param name="groupAssignmentDualList" value="#{orgHandler.dualGroupAssignmentList}" />
                    </ui:include>

                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

