<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
	
	<f:metadata>
		<f:viewParam name="uuid" value="#{eFlowHandler.dataSetUuidString}" />
		<f:viewParam name="version" value="#{eFlowHandler.dataSetVersionString}" />
		<f:event type="preRenderView" listener="#{eFlowHandler.postViewParamInit(true)}" />
	</f:metadata>
	
	<h:body>
		<ui:include src="flow.xhtml">
			<ui:param name="flowHandler" value="#{eFlowHandler}" />
		</ui:include>
	</h:body>
</html>

