<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">

	<f:metadata>
		<f:viewParam name="stockType" value="#{stockHandler.stockType}" />
		<f:viewParam name="tabId" value="#{stockHandler.activeTabIndex}" />
		<f:event type="preRenderView" listener="#{stockHandler.postViewParamInit}" />
	</f:metadata>

    <h:body>
        <ui:composition template="/admin/layout/adminDesign.xhtml">
            <ui:param name="pageTitle" value="#{i18n['admin.stock.createNew']}" />
            <ui:define name="content">
                <p>#{i18n['common.mandatoryFields']}</p>
                <h:form id="generalForm" prependId="false">

                    <ui:include src="/messages.xhtml" />
                    
                    <ui:include src="include/stockEntry.xhtml">
                    	<ui:param name="sHandler" value="#{stockHandler}" />
                    	<ui:param name="stock" value="#{stockHandler.entry}" />
                    	<ui:param name="tabId" value="#{stockHandler.activeTabIndex}" />
                    </ui:include>

                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

